* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  font-family: "Microsoft JhengHei", Arial, sans-serif;
}

body {
  line-height: 1.6;
  color      : #333;
}

.container {
  max-width: 1200px;
  margin   : 0 auto;
  padding  : 0 20px;
}

/* Hero Section */
.hero {
  background-image   : url('./assets/Wintellgent\ x\ Oracle\ \(logo\)-03.png');
  background-size    : cover;
  background-position: center;
  color              : white;
  padding            : 100px 0;
  position           : relative;
  height             : 550px;
}

.hero img {
  width   : 550px;
  height  : auto;
  display : block;
  position: absolute;
  top     : 4%;
  right   : 0.5%;
}

@media (max-width: 768px) {
  .hero {
    height: 400px;
  }

  .hero img {
    width    : 250px;
    top      : 4%;
    right    : 0;
    transform: translate(0, -4%);
  }

}

.hero-content {
  position  : absolute;
  top       : 50%;
  left      : 50%;
  transform : translate(-50%, -50%);
  text-align: start;
  color     : white;
  z-index   : 1;
  width     : 100%;
  padding   : 0 10%;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity  : 0;
  }

  to {
    transform: translateY(0);
    opacity  : 1;
  }
}

.hero h1 {
  font-size    : 2.2rem;
  margin-bottom: 20px;
  font-weight  : bold;
}

.hero p {
  font-size    : 2.2rem;
  margin-bottom: 20px;
  font-weight  : normal;
}

/* Section Styles */
.section {
  padding    : 50px 0;
  display    : flex;
  align-items: center;
  flex-wrap  : wrap;
}

.section-image {
  flex      : 1;
  min-width : 300px;
  padding   : 20px;
  opacity   : 0;
  transform : translateX(-30px);
  transition: all 0.8s ease-out;
}

.section-image.right {
  transform: translateX(30px);
}

.section-image.show {
  opacity  : 1;
  transform: translateX(0);
}

.section-image img {
  width        : 100%;
  border-radius: 10px;
  box-shadow   : 0 5px 15px rgba(0, 0, 0, 0.1);
}

.section-content {
  flex      : 2;
  min-width : 300px;
  padding   : 20px;
  opacity   : 0;
  transform : translateY(30px);
  transition: all 0.8s ease-out;
}

.section-content.show {
  opacity  : 1;
  transform: translateY(0);
}

.section-title {
  font-size    : 1.8rem;
  color        : #0c7b93;
  margin-bottom: 15px;
}

.section-text {
  margin-bottom: 20px;
  padding      : 0 50px;
}

.section-tags {
  color      : #0c7b93;
  font-weight: bold;
}

.section-tags span {
  display     : inline-block;
  margin-right: 10px;
}

.service-section {
  display         : flex;
  align-items     : stretch;
  gap             : 20px;
  background-color: #ebfffb;
  padding         : 20px;
  padding-left    : 0px;
  border-radius   : 8px;
}

.database-section {
  display         : flex;
  align-items     : stretch;
  gap             : 20px;
  background-color: #ebfffb;
  padding         : 20px;
  padding-right   : 0px;
  border-radius   : 8px;
}

.service-image {
  flex: 0 0 40%;
}

.service-image img {
  width        : 100%;
  height       : 100%;
  border-radius: 0px;
}

.database-image-mobile {
  display: none;
}

.database-image-pc {
  display: block;
}

.service-container {
  width          : 100%;
  flex-direction : column;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.service-content {
  max-width: 600px;
}

.service-title {
  color        : #28A4A1;
  font-size    : 1.5rem;
  margin-bottom: 1rem;
}

.service-description {
  color        : #333;
  line-height  : 1.6;
  margin-bottom: 1rem;
}

.service-tags {
  padding         : 60px 0px 0px 0px;
  background-color: #ebfffb;
  border-radius   : 4px;
}

.service-tags p {
  color      : #278578;
  font-weight: bold;
}

.service-tags span {
  color      : #3C3C3C;
  font-weight: bold;
}

.database-tags {
  padding         : 60px 0px 0px 0px;
  background-color: #ebfffb;
  border-radius   : 4px;
}

.database-tags p {
  color      : #278578;
  font-weight: bold;
}

.database-tags span {
  color      : #3C3C3C;
  font-weight: bold;
}

@media (max-width: 768px) {
  .section-text {
    padding: 0;
  }

  .service-section {
    flex-direction: column;
    padding       : 20px;
  }

  .database-section {
    flex-direction: column;
    padding       : 20px;
  }

  .service-image {
    max-width: 100%;
  }

  .database-image-mobile {
    display: block;
  }

  .database-image-pc {
    display: none;
  }
}

@media (min-width: 1000px) {
  .service-content {
    max-width: 685px;
  }

  .service-description {
    font-size: 18px;
  }
}

/* Alternate Section Background */
.bg-light {
  background-color: #ebfffb;
}

/* Section Header */
.section-header {
  text-align      : center;
  padding         : 40px 0;
  background-color: #dff5ee;
  opacity         : 0;
  transform       : translateY(20px);
  transition      : all 0.8s ease-out;
}

.section-header.show {
  opacity  : 1;
  transform: translateY(0);
}

.section-header h2 {
  color    : #278578;
  font-size: 1.8rem;
}

/* Service Grid */
.service-grid {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: center;
  gap            : 10px;
  margin         : 40px 0;
}

.service-card {
  flex            : 0 0 30%;
  background-color: #e6f7f2;
  padding         : 20px 40px;
  margin-bottom   : 20px;
  border-radius   : 20px;
  min-width       : 250px;
  opacity         : 0;
  transform       : translateY(30px);
  transition      : all 0.8s ease-out;
}

.service-card.show {
  opacity  : 1;
  transform: translateY(0);
}

.service-card:nth-child(1) {
  transition-delay: 0.1s;
}

.service-card:nth-child(2) {
  transition-delay: 0.3s;
}

.service-card:nth-child(3) {
  transition-delay: 0.5s;
}

.service-card h2 {
  color        : #278578;
  margin-bottom: 15px;
  text-align   : center;
  font-weight  : 900;
}

.service-card ul {
  list-style-type: none;
}

.service-card li {
  font-size    : 16px;
  font-weight  : 500;
  margin-bottom: 8px;
  position     : relative;
  padding-left : 20px;
}

.service-card li::before {
  content : "•";
  position: absolute;
  left    : 0;
  color   : #0c7b93;
}

/* Footer */
.footer {
  background-color: #278578;
  color           : #EBFFFB;
  padding         : 30px 0;
  text-align      : center;
}

.footer-content {
  display       : flex;
  flex-direction: column;
  align-items   : end;
  margin-bottom : 20px;
  font-size     : large;
}

.footer-content a {
  color          : #EBFFFB;
  text-decoration: none;
  display        : flex;
  align-items    : center;
}

.footer-copyright {
  color         : #EBFFFB;
  display       : flex;
  flex-direction: column;
  align-items   : start;
  font-size     : 0.9rem;
  border-top    : 1px solid #fff;
  padding-top   : 20px;
  font-size     : large;
}

/* Responsive */
@media (max-width: 768px) {
  .section {
    flex-direction: column;
  }

  .section-image,
  .section-content {
    flex: 1 0 100%;
  }

  .service-card {
    flex: 0 0 100%;
  }

  .hero h1 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 1.2rem;
  }
}

.intro-section {
  display             : flex;
  align-items         : stretch;
  gap                 : 30px;
  /* padding          : 20px; */
  /* max-width        : 1200px; */
  /* margin           : 0 auto; */
}

.intro-image {
  flex     : 0 0 40%;
  opacity  : 0;
  transform: translateX(-50px);
  animation: slideIn 1s ease-out forwards;
}

.intro-image.show {
  opacity  : 1;
  transform: translateX(0);
}

@keyframes slideIn {
  from {
    opacity  : 0;
    transform: translateX(-50px);
  }

  to {
    opacity  : 1;
    transform: translateX(0);
  }
}

.intro-image img {
  width           : 100%;
  height          : 100%;
  /* box-shadow   : 0 5px 15px rgba(0, 0, 0, 0.2); */
}

.intro-container {
  width          : 100%;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

.intro-content {
  /* padding  : 20px 60px; */
  max-width: 565px;
}

.intro-text {
  color        : #333;
  font-size    : 16px;
  line-height  : 1.8;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .intro-section {
    flex-direction: column;
  }

  .intro-image {
    flex: 0 0 100%;
  }

  .intro-content {
    max-width: 460px;
  }
}

@media (max-width: 500px) {
  .intro-content {
    max-width: 400px;
  }
}

@media (max-width: 414px) {
  .intro-content {
    max-width: 360px;
  }
}

@media (max-width: 375px) {

  .intro-content {
    max-width: 330px;
  }
}

@media (min-width: 1000px) {
  .intro-content {
    max-width: 630px;
  }

  .intro-text {
    font-size: 18px;
  }
}